@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }

  :root {
    --background: #FFFFFF;
    --foreground: #1C1C1E;
    --border: #DFDFDF;

    --card: #FFFFFF;
    --card-foreground: #0A0A0A;

    --popover: #FFFFFF;
    --popover-foreground: #1C1C1E;

    --primary: #07689F;
    --primary-light: #5CA9D8;
    --primary-dark: #05476D;
    --primary-foreground: #FFFFFF;

    --secondary: #FFD427;
    --secondary-light: #FFE88D;
    --secondary-dark: #FFB300;
    --secondary-foreground: #1C1C1E;

    --copy: #262626;
    --copy-light: #666666;
    --copy-lighter: #8C8C8C;
    --copy-black: #1C1C1E;
    --copy-white: #FBFBFB;

    --muted: #666666;
    --muted-foreground: #8C8C8C;

    --accent: #FFD427;
    --accent-foreground: #1C1C1E;

    --destructive: #D64545;
    --destructive-foreground: #FFFFFF;

    --input: #DBDEE3;
    --ring: #07689F;

    --radius: 0.2rem;

    /* Status */
    --success: #4CAF50;
    --warning: #FDBC17;
    --error: #D64545;
  }

  [data-theme='dark'] {
    --background: #0A0A0A;
    --foreground: #FBFBFB;
    --border: #404040;

    --card: #171717;
    --card-foreground: #FAFAFA;

    --popover: #1C1C1E;
    --popover-foreground: #FFFFFF;

    --primary: #07689F;
    --primary-light: #5CA9D8;
    --primary-dark: #05476D;
    --primary-foreground: #FFFFFF;

    --secondary: #FFD427;
    --secondary-light: #FFE88D;
    --secondary-dark: #FFB300;
    --secondary-foreground: #1A1A1A;

    --copy: #FBFBFB;
    --copy-light: #D9D9D9;
    --copy-lighter: #A6A6A6;
    --copy-black: #1A1A1A;
    --copy-white: #FBFBFB;

    /* UI states */
    --muted: #6C757D;
    --muted-foreground: #EEEEEE;

    --accent: #FFD427;
    --accent-foreground: #1C1C1E;

    --destructive: #D64545;
    --destructive-foreground: #FFFFFF;

    --input: #1C1C1E;
    --ring: #5CA9D8;

    --radius: 0.2rem;

    /* Status */
    --success: #4CAF50;
    --warning: #E1A100;
    --error: #D64545;
  }
}

/* ------------------------------------------------
   Base element styling
------------------------------------------------- */
@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground min-h-[100vh] flex flex-col;
  }
}

html {
  opacity: 0;
}

html[data-theme='dark'],
html[data-theme='light'] {
  opacity: initial;
}

.container {
  @apply w-full max-w-[1440px] mx-auto px-4;
}

/* Embla Carousel Styles */
.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
  position: relative;
}